[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"PyQt5" = "==5.14.0"
qtpy = {git = "https://github.com/mottosso/Qt.py.git"}
qtazu = {git = "https://github.com/cgwire/qtazu.git"}
gstreamer-player = "*"
"gazu" = "*"

[dev-packages]
"Pytest" = "*"
"pytest-qt" = "*"
pyqt-distutils = "*"
PyInstaller = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
e1839a8 = {path = ".",editable = true}
"flake8" = "*"

[pipenv]
allow_prereleases = true
